---
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Welcome from '../components/Welcome.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import GitHub from '../components/icons/GitHub.astro';
import Mail from '../components/icons/Mail.astro';
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';
import AboutIcon from '../components/icons/AboutMe.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Portafolio - Leiber" description="Contrata Desarrollador, Programador Web Front-End">
	 <main class="px-4">
		<SectionContainer class="py-40 pb-32">
			<!-- <img class="rounded-full size-12 mb-4" src="https://symbl-world.akamaized.net/i/webp/76/82f32524fb743dbc62cd86fba89f6e.webp" alt="photo"> -->
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				<span class="text-transparent bg-gradient-to-r from-blue-600 via-blue-500 to-blue-400 to-blue-300  bg-clip-text">Hola, soy Leiber</span> <a href="https://www.linkedin.com" target="_blank" rel="noopener" class="flex justify-center items-center">
					 <Badge />
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] text-white py-3">
				<span>Desarrollador Web enfocado en</span>,
				<span class="text-blue-300"> Front-End</span>. Apasionado en crear soluciones 
				<span class="text-blue-300 text-pretty">innovadoras, intuitivas y modernas </span> con atención a los detalles.
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="mailto:leibertrejo8@gmail.com">
					<Mail class="size-4 md:size-6"/>
					Descargar CV
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Code class="size-8" />
				<span class="text-blue-400">Proyectos</span>
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white">
				<Briefcase class="size-8" />
				<span class="text-blue-400">Experiencia</span>
			</h2>
			<Experience/>
		</SectionContainer>

		<SectionContainer id="acerca-de-mi">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<AboutIcon class="size-8" />
				Acerca de mi
			</h2>
			<AboutMe />
		</SectionContainer>
	 </main>
</Layout>
