---
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import CV from '../components/DownloadCV.astro';
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';
import AboutIcon from '../components/icons/AboutMe.astro';
import ProjectItem from '../components/ProjectItem.astro';
import Leiber from '../components/Leiber.astro';
import Me from '../components/Me.astro';

---

<Layout title="Portafolio - Leiber" description="Contrata Desarrollador, Programador Web Front-End">
	 <main class="px-4">
		<SectionContainer class="py-40 pb-32"> 
			<!-- <img class="rounded-full size-12 mb-4" src="https://symbl-world.akamaized.net/i/webp/76/82f32524fb743dbc62cd86fba89f6e.webp" alt="photo"> -->
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				<a href="https://www.linkedin.com" target="_blank" rel="noopener" class="flex justify-center items-center">
					 <Badge />
				</a>
			</h1>
			
			<span class="text-white text-5xl md:text-6xl lg:text-6xl font-base">Hola, </span>

			<Leiber />

			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] text-white py-3">
				<span>Desarrollador Web enfocado en</span>,
				<span class="text-sky-500 font-semibold"> Front-End</span>. Apasionado en crear soluciones 
				<span class="text-sky-500 text-pretty font-semibold">innovadoras, intuitivas y modernas </span> con atención a los detalles.
			</h2>

			<nav class="flex gap-4 mt-5 flex-wrap">
				<CV href="mailto:leibertrejo8@gmail.com">
					Descargar CV
				</CV>
			</nav>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Code class="size-8" />
				<span class="text-sky-500">Proyectos</span>
			</h2>
			<Projects />

			<ProjectItem />

		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white">
				<Briefcase class="size-8" />
				<span class="text-sky-500">Experiencia</span>
			</h2>
			<Experience/>
		</SectionContainer>

		<SectionContainer id="acerca-de-mi">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<AboutIcon class="size-8" />
				<span class="text-sky-500">Acerca de mi</span>
			</h2>
			<AboutMe />
			 <Me />
		</SectionContainer>
	 </main>
</Layout>
