---
 const personalImageAlt = "Leiber Trejo"
---

<article class="flex flex-col items-center justify-center gap-8 text-base text-white-100 dark:text-white-100 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-sky-400 dark:[&>p>strong]:text-sky-400 [&>p>strong]:font-bold [&>p>strong]:font-sans text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo <strong>Leiber</strong>. Conocí la programación desde los 16 años y ahora me apasiona <strong
        >crear Sitios Web increíbles</strong
      >.
    </p>

    <p>
      He trabajado haciendo Sitios Web & Landing Pages para pequeñas empresas usando<strong
        > HTML, CSS & JavaScript</strong
      >. Ahora me enfoco en aprender tecnologías recientes y novedosas como <strong>TailwindCSS, Astro</strong>
      y de Back-End como <strong>Laravel</strong>.
    </p>

    <p>
      En lo personal, <strong
        >me gusta ser proactivo, leer, organizarme y aprender por mi cuenta</strong
      >. Mi intención es poder crear un atractivo visual en las ideas de las personas.
    </p>
  </div>

  <img width="200" height="200" src="/favicon.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-sky-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>