---
import CV from '../components/DownloadCV.astro';

 const personalImageAlt = "Leiber Trejo"
---

<article class="flex flex-col items-center justify-center gap-8 text-base text-white-100 dark:text-white-100 md:flex-row">
  <div class="container mx-auto flex items-center justify-center flex-col">
    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center aspect-square rounded-2xl bg-black/20 dark:bg-sky-500/5 ring-1 ring-black/70 dark:ring-white/20" alt="hero" src="/leiber-profile-square.jpg">
    <div
    class="[&>p]:mb-4 [&>p>strong]:text-sky-400 dark:[&>p>strong]:text-sky-400 [&>p>strong]:font-bold [&>p>strong]:font-sans text-pretty order-2 md:order-1"
  >
      <p>
        Me llamo <strong>Leiber Mauricio</strong> y conocí la programación a los 16 años y hoy en día me apasiona la creación de <strong>
         Sitios Web increíbles</strong>. <br>
        <br>He trabajado haciendo Sitios Web & Landing Pages para negocios usando<strong>
         HTML</strong>, <strong>CSS</strong> & <strong>JavaScript</strong>.
         Ahora me enfoco en aprender y aplicar tecnologías recientes y novedosas como <strong>TailwindCSS</strong>, <strong>Astro</strong>
        y de Back-End como <strong>Laravel</strong>.
      </p>

      <p>
        En lo personal, me gusta <strong
          >ser proactivo</strong>, <strong>leer</strong>, <strong>organizarme</strong> y <strong>aprender por mi cuenta</strong
        >. Mi intención es poder crear un atractivo visual en las ideas de las personas.
      </p>
      <div class="flex justify-center mt-8">
        <CV/>
      </div>
    </div>
  </div>
</article>