---
import CV from '../components/icons/CV.astro';
---

<button class="relative inline-flex h-12 overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-1 focus:ring-slate-400 focus:ring-offset-1 focus:ring-offset-slate-50">
    <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#529ff7_0%,#0e5fcf_50%,#529ff7_100%)]" />
    <span class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-slate-950 px-3 py-1 text-sm font-medium text-white backdrop-blur-3xl hover:bg-sky-600">
        <CV class="mr-2"></CV> 
        Descargar CV
    </span>
  </button>