---
import Mail from '../components/icons/Mail.astro';
---
<button class="p-[4px] relative">
  <div class="absolute inset-0 bg-gradient-to-r from-blue-600 to-sky-500 rounded-full" />
  <a href="mailto:leibertrejo8@gmail.com" target="_blank" class="px-8 py-2 rounded-full inline-flex relative group transition duration-200 text-white hover:bg-slate-950 cursor-pointer">
    <Mail />
    &nbsp;Contacto
  </a>
</button>