---
import Mail from '../components/icons/Mail.astro';
---

<!-- <button class="px-8 py-2 rounded-full relative inline-flex bg-slate-700 text-white text-sm hover:shadow-2xl hover:shadow-white/[0.1] transition duration-200 border border-slate-600">
    <div class="absolute inset-x-0 h-px w-1/2 mx-auto -top-px shadow-2xl  bg-gradient-to-r from-transparent via-teal-500 to-transparent" />
    <span class="relative z-20 inline-flex">
      <Mail class="mr-2" />
      Contáctame
    </span>
  </button> -->

  <!-- <button class="relative inline-flex h-12 overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50">
    <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]" />
    <span class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-slate-950 px-3 py-1 text-sm font-medium text-white backdrop-blur-3xl">
      <Mail class="mr-2" />
      Contáctame
    </span>
  </button> -->

  <button class="p-[3px] relative">
    <div class="absolute inset-0 bg-gradient-to-r from-blue-600 to-sky-500 rounded-full" />
    <div class="px-8 py-2 rounded-full inline-flex relative group transition duration-200 text-white hover:bg-slate-950 cursor-pointer">
      <Mail class="mr-2" />
      Contacto
    </div>
  </button>