<a
    class={`
    bg-white/5
    border border-white/10 rounded-full
    flex justify-center items-center gap-x-2
    py-1 px-2 md:py-2 md:px-4
    text-xs md:text-base text-white
    transition
    hover:scale-110 hover:bg-white/10
    `}
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
>
    <slot />
</a>

<!-- ---
const { href } = Astro.props;
---

<a
    target="_blank"
    href={href}
    role="link"
    class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
>
    <slot />
</a> -->